/* SYNTAX HIGHLIGHT IMPORT */

@import "syntaxHighlight.css";

/* LANGUAGE SCRIPTS */

.not-found{
	margin: 0 auto;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
	background-color: #2b2c2d;
	border-radius: 10px;
	display: none;
}

.script-container{
	width: 80%;
	padding-left: 0;
}

.script-block{
	width: 100%;
	background-color: #2b2c2d;
	margin-bottom: 30px;
	box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
	position: relative;
}

.scripts{
	padding: 30px;
	display: block;
	overflow-x: auto;
	/*position: relative;*/
}

.script-name{
	padding: 3px 10px;
}

/* SCRIPT NAME BACKGROUND COLOR */

.script-name-html5{
	background-color: #f27618;
}

.script-name-css3{
	background-color: #1078ef;
}

.script-name-javascript{
	background-color: #30d333;
}

.script-name-nodejs{
	background-color: #30d333;
}

.script-name-python{
	background-color: #1a55ed;
}

.script-name-mongodb{
	background-color: #33d824;
}

.script-name-vim{
	background-color: #19aa3b;
}

.script-name-terminal{
	background-color: #000000;
}

.script-name-git{
	background-color: #f27618;
}

.script-name-markdown{
	background-color: #692be5;
}

.copy-icon{
	position: absolute;
	top: 50%;
	right: 5%;
	font-size: 25px;
	transform: translate(-50%, -5%);
	opacity: 0;
	transition: opacity 0.5s;
}

.copy-icon:hover{
	color: #4dadf7;
	opacity: 1;
}

.scripts:hover + .copy-icon{
	opacity: 1;
}

/* COPY TOOLTIP */

.tooltip{
	opacity: 0;
	width: 70px;
	background-color: rgba(0, 0, 0, 0.75);
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	font-size: 17px;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	bottom: 135%;
	left: 50%;
	margin-left: -30px;
	transform: translate(0, 10px);
	transition: transform 0.5s 0.07s, opacity 0.3s 0.07s;
}

.tooltip::after{
	content: " ";
	position: absolute;
	top: 100%; 
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

.copy-icon:hover .tooltip{
	opacity: 1;
	transform: translate(0, 0);
	transition: transform 0.2s 0.1s, opacity 0.5s 0.1s;
}

/* Tooltip bounce animation after click copy-icon */
.bounce-animation{
	animation-name: bouncing;
	animation-duration: 0.75s;
	transform-origin: bottom center;
}

@keyframes bouncing{
	0% {transform: scale(1.2);}
	33% {transform: scale(0.8);}
	66% {transform: scale(1.1);}
	100% {transform: scale(1);}
}

/* RESPONSIVE DESIGN FOR MOBILE */

@media only screen and (max-width: 500px){
	.script-name{
		font-size: 12px;
	}
}