*{
	padding: 0;
	margin: 0;
	color: #FFFFFF;
}

body{
	background-color: #F5F5F5;
}

/* NAVBAR */

#navbar{
	width: 100%;
	height:70px;
	background-color: #373737;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	z-index: 10;
}

#navbar div{
	margin: 0 30px;
	display: flex;
	align-items: center;
}

#navbar div input{
	background-color: #373737;
	border: none;
	border-bottom: solid #FFFFFF 1px;
	outline: none;
	font-size: 18px;
	margin-right: 2px;
}

.search-icon{
	font-size: 20px;
}

#navbar div form button{
	border: none;
}

#navbar div form button i{
	font-size: 23px;
	background-color: #373737;
}

.back-icon{
	font-size: 50px;
	margin-right: 20px;
	/*border-right: solid 2px #FFFFFF;*/
	padding-right: 5px;
	transition: transform .2s ease-in-out;
}

.back-icon:hover{
	transform: scale(1.2);
}

.icon-title{
	font-size: 30px;
	margin-right: 10px;
}

/* CONTENT */

.container{
	display: flex;
	background-color: #F5F5F5;
	width: 95%;
	margin: 0 auto;
	margin-top: 2px;
	padding-top: 20px;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.lang-box{
	position: relative;
	width: 22%;
	display: inline-block;
	margin-right: 30px;
	margin-bottom: 30px;
	box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.3),  -1px -1px 4px rgba(0, 0, 0, 0.3);
}

.lang-box h1{
	border: solid 1px #FFFFFF;
	padding: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	font-size: 0;
	transition: font-size 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.lang-box img{
	width: 100%;
	transition: opacity 0.3s, filter 0.2s;
}

/* Hover Animation */

.lang-box:hover img{
	opacity: 0.2;
	filter: grayscale(100%);
}

.lang-box:hover h1{
	opacity: 1;
	font-size: 2em;
}

/* MATERIAL COLORS */

.purple{
	background-color: #673AB7;
}

.pink{
	background-color: #F50057;
}

.red{
	background-color: #F44336;
}

.blue{
	background-color: #3D5AFE;
}

.orange{
	background-color: #FF6D00;
}

.teal{
	background-color: #00897B;
}

.grey{
	background-color: #546E7A;
}

/* LANGUAGE SCRIPTS */

.script-container{
	width: 80%;
}

.script-block{
	width: 100%;
	background-color: #2b2c2d;
	margin-bottom: 30px;
	box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
	position: relative;
}

.script-name{
	background-color: #f27618;
	padding: 3px 10px;
}

.scripts{
	padding: 30px;
	display: block;
	/*position: relative;*/
}

.copy-icon{
	position: absolute;
	top: 50%;
	right: 5%;
	font-size: 25px;
	transform: translate(-50%, -5%);
	opacity: 0;
	transition: opacity 0.5s;
}

.script-block:hover .copy-icon{
	opacity: 1;
}

/* HTML TAG HIGHLIGHTS */

.tag-name{
	color: #ea0958;
}

.tag-var{
	color: #7ce20f;
}

.tag-string{
	color: #efef0a;
}