<!DOCTYPE html>
<html>
<head>
	<title>Javascript</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../fontawesome/css/fontawesome-all.min.css">
	<link rel="stylesheet" type="text/css" href="../styles.css">
</head>
<body>

	<nav id="navbar">
		<div>
			<a href="CodeGuide.html"><i class="fas fa-caret-left back-icon"></i></a>
			<i class="fab fa-js-square icon-title"></i>
			<h1>Javascript</h1>
		</div>
		<div>
<!-- 				<input id="search-language-input" autocomplete="off" type="search" name="language">
				<i class="fas fa-search search-icon"></i> -->
		</div>
	</nav>

	<div class="container script-container">

	</div>

	<script type="text/javascript" src="../tempDB.json"></script>
	<script type="text/javascript" src="../js/jsScript.js"></script>
</body>
</html>